.logo {
  text-decoration: none;
  color: #0773ff;
  font-size: 2.4rem;
  font-weight: 500;
  // height: 3.6rem;
  display: flex;
  align-items: center;

  span {
    color: #49494a;
    font-size: inherit;
    margin-right: 0.8rem;
  }
}

@media (max-width: 950px) {
  .logo {
    font-size: 2rem;
    span {
    }
  }
}

@media (max-width: 700px) {
  .logo {
    // display: none;
    background-color: #e4e9ef;
    border-radius: 4rem;
    padding: 1rem 2rem;
  }
}

@media (max-width: 600px) {
  .logo {
    font-size: 1.7rem;
    span {
    }
  }
}
