.navigation {
  display: flex;
  justify-content: space-between;

  button {
    font-size: 1.6rem;
    font-weight: 500;
    color: #49494ac4;
    background-color: transparent;
    outline: none;

    &:hover {
      border: none;
    }
  }
}

@media (max-width: 950px) {
  .navigation {
    // display: none;
    button {
      padding: 0.5rem 1rem;
    }
  }
}

@media (max-width: 800px) {
  .navigation {
    // display: none;
    button {
      padding: 0.5rem 1rem;
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 700px) {
  .navigation {
    display: none;
  }
}
